<header class="navbar-dark bg-primary layout horizontal center justified">
  <div class="horiz">
    <div id="chat-bubble" class="icon"></div>
    <a class="navbar-brand">Dart Chat</a>
  </div>

  <div class="horiz">
    <div id="sign-in" *ngIf="fbService.user == null" class="horiz">
      <div id="google-icon" class="icon"></div>
      <button class="btn btn-outline-secondary btn-sm" (click)="fbService.signIn()"> Google Sign In</button>
    </div>

    <div id="sign-out" *ngIf="fbService.user != null" class="horiz">
<img class="icon" [src]="fbService.user?.photoURL">
<div id="user-name">{{fbService.user?.displayName}}</div>
      <button class="btn btn-outline-secondary btn-sm" (click)="fbService.signOut()"> Sign Out</button>
    </div>
  </div>
</header>


