<app-header></app-header>

<div id="chat" [hidden]="fbService.user == null" class="card card-outline-primary flex layout vertical" style="overflow-y: hidden;">
  <div class="msg-container flex layout vertical" style="overflow-y: auto;" vuScrollDown>
      <div *ngFor="let msg of fbService.messages"
       class="message layout horizontal">
    <img [src]="msg.photoURL" class="icon">
    <div>
      <div class="name">{{msg.name}}</div>
      <div *ngIf="msg.imageURL == null">{{msg.text}}</div>
      <div *ngIf="msg.imageURL != null">
        <a [href]="msg.imageURL" target="_blank">
          <img [src]="msg.imageURL" class="message-image">
        </a>
      </div>
    </div>
  </div>
  </div>

  <div id="input-container" class="card-block layout horizontal center">
    <input type="text" [(ngModel)]="inputText" (keyup.enter)="sendTextMessage()" class="form-control" placeholder="Message..." vuHoldFocus>
    <button class="btn btn-outline-primary" (click)="sendTextMessage()"> Send</button>

    <input #mediaCapture type="file" accept="image/*,capture=camera" (change)="sendImageMessage(mediaCapture.files)">
    <button class="btn btn-outline-primary"><i class="material-icons" (click)="mediaCapture.click()">image</i></button>
  </div>
</div>


